[submodule "C++/lib/valijson"]
	path = C++/lib/valijson
	url = https://github.com/tristanpenman/valijson.git
[submodule "C++/lib/json11"]
	path = C++/lib/json11
	url = https://github.com/dropbox/json11.git
[submodule "C++/test/jq"]
	path = tests/jq
	url = https://github.com/stedolan/jq
[submodule "C++/lib/rapidjson"]
	path = C++/lib/rapidjson
	url = https://github.com/Tencent/rapidjson
